div.logo-img {
    display:block;
    content:url('/img/applogo.png');
    width: 50%;
}

div.whole-page {
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
    background-image: url('/img/blurredRU.png');
    background-size: cover;
    background-repeat:no-repeat;
}

div.buttonRow {
    margin-top:5%;
}